{
	"semi": true,
	"useTabs": true,
	"singleQuote": false,
	"singleAttributePerLine": true,
	"trailingComma": "all",
	"printWidth": 100,
	"plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }],
	"tailwindFunctions": ["twMerge"]
}
